# =====================================================
# IGNORAR ARCHIVOS Y CARPETAS TEMPORALES (ENTORNOS / CACHE)
# =====================================================

# Entorno virtual
.venv/
venv/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Archivos de Jupyter y VS Code
.ipynb_checkpoints/
.vscode/
*.code-workspace

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# =====================================================
# ARTEFACTOS Y SALIDAS DE ENTRENAMIENTO
# =====================================================

# Directorios de modelos y resultados
models/
#mlruns/
outputs/
logs/
runs/
checkpoints/

# Permitir mantener estructura vacía
!models/.gitkeep
!reports/.gitkeep

# =====================================================
# DATOS INTERMEDIOS Y CRUDOS
# =====================================================

# 1. NO ignora el directorio data/raw en sí, para que las excepciones funcionen.
#    Solo ignoramos todos los archivos y subdirectorios dentro de él.
data/raw/* data/raw/**/*

# 2. Excepción: ¡Permitir los punteros DVC! (Sobrescribe la regla anterior)
!data/raw/*.dvc

# 3. Excepción: Permitir la documentación (README)
!data/raw/README.md


# =====================================================
# REPORTES Y DOCUMENTACIÓN
# =====================================================

# Incluir markdowns y reportes
!docs/
!reports/
!*.md
!*.txt

# =====================================================
# ARCHIVOS DE CONFIGURACIÓN DE ENTORNO
# =====================================================

# Excluir secretos, tokens o configuraciones locales
*.env
*.json
*.yaml
*.yml
*.ini

# =====================================================
# OTROS
# =====================================================

# Backups y archivos temporales
*.bak
*.tmp
*.swp
*.old

# ================================
# DVC exceptions (allow metadata)
# ================================
!*.dvc
!.dvc/
!dvc.yaml
!dvc.lock

.idea
/models
mlflow.log
