# =====================================================
# PROYECTO MLOPS – FASE 2 (SRE)
# Entorno reproducible validado en Python 3.12 (Windows)
# =====================================================

# Core scientific stack
numpy==2.3.4
pandas==2.3.3
scipy==1.16.3

# Machine Learning
scikit-learn==1.7.2
joblib==1.5.2
threadpoolctl==3.6.0

# Visualization
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.3.1

# Experiment tracking / MLOps
mlflow==3.5.1

# Data serialization / storage
pyarrow==21.0.0

# Utilities and environment
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
packaging==25.0
PyYAML==6.0.3
python-dotenv==1.2.1

# Optional: only if running MLflow UI locally
Flask==3.1.2
waitress==3.0.2
SQLAlchemy==2.0.44
alembic==1.17.1
